header {
    background-color: #fff;
    color: #333b57;
}
ul {
    padding: 10px 0 20px 0;
}
h1, li {
    display: inline;
    list-style: none;
    padding: 40px;
}
a {
    color: #333b57;
    text-decoration: none;
}
ul > li:last-child > a {
    padding: 10px 20px;
    background-color: #333b57;
    color: #fff;
    border-radius: 25px;
}