section {
    padding: 30px;
}
div {
    background-color: #ecedef;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    width: 30%;
    margin: 0 auto;
}
input {
    height: 30px;
    margin-left: 5px;
    background-color: unset;
    border: none;
    border-bottom: 0.5px solid black;
    font-size: medium;
}
span {
    color: darkred;
    font-size: medium;
    text-align: center;
}
button {
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    background-color: #333b57;
    color: #fff;
    font-weight: 400;
    border: none;
}
button:hover {
    background-color: #242a3d;
    transition: 0.5s;
}